{% for post in include.posts %}
	<li class="blog-post">
		{% if post.image %}
			<div class="blog-post-image">
				<a href="{% include relative-src.html src=post.url %}">
					<img src="{{ post.image }}" alt="{{ post.title }}">
				</a>
			</div>
		{% endif %}
		<div class="blog-post-content">
			<h2><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
			{% include post-title.html post=post %}
			<div class="post-content">
				{{ post.excerpt }}
				<div class="button"><a href="{% include relative-src.html src=post.url %}">Explore</a></div>
			</div>
		</div>
	</li>
{% endfor %}
